@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic full-height layout */
html,
body,
#root {
  height: 100%;
}

/* Global default font (Tailwind -> theme.fontFamily.sans = Lato) */
@layer base {
  html {
    font-family: theme("fontFamily.sans");
  }
}
